/* Hugely inspired by: https://www.youtube.com/watch?v=PkADl0HubMY */

.article {
    text-align: center;
    transition: transform 0.25s linear;
}

.article > .article-title {
    font-size: 2.5vmin;
    font-weight: bold;
}

.article > .article-image {
    width: 40vmin;
    height: 56vmin;
    object-fit: cover;
    object-position: center;
    margin-top: 2vmin;
}

#article-track {
    display: flex;
    gap: 4vmin;
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translate(0, -50%);
    transition: transform 0.25s linear;
}

#scroll-bar {
    position: absolute;
    left: 10%;
    bottom: 15%;
    width: 80%;
    height: 0.75vmin;
    background-color: #ffffff;
    border-radius: 0.5vmin;
    border-color: black;
    border-style: solid;
    border-width: 0.1vmin;
}

#scroll-bar > #scroll-progress {
    width: 0%;
    height: 100%;
    background-color: #0e0191;
    border-radius: 0.25vmin;
    transition: width 0.25s ease;
}

#article-track > a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #000;
}

#article-track > a:hover {
    display: block;
    width: 100%;
    height: 100%;
}

#article-track > a:visited {
    color: #000;
}

.article:hover {
    transform: scale(1.05);
}