@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

html {
    height: 100%;
    overflow: hidden;
}

body {
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    height: 100%;
}

header {
    display: flex;
    width: 100%;
    height: 4em;
}

#logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 23.61%;
    height: 100%;
    background-color: #0e0191;
}

#logo img {
    padding: 0.5em;
}

#title {
    background-color: #0e0191;
    width: 76.39%;
    height: 100%;
}

#dropdown {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: fit-content;
    text-align: center;
    height: 100%;
    background-color: #0e0191;
}

#dropdown-button {
    background-color: transparent;
    border: none;
    width: 100%;
    height: 100%;
    font-size: 24px;
}

#dropdown-button:hover .bar {
    background-color: #e0e0e0;
}

.bars {
    position: relative;
    display: flex;
    padding: 0.5em;
    width: 2em;
    color: #fff;
}

.bar {
    position: absolute;
    background-color: #fff;
    width: 2em;
    height: 0.3em;
    border-radius: 10px;
}

#bar1 {
    transform: translate(0, 0.6em);
}

#bar3 {
    transform: translate(0, -0.6em);
}

#dropdown-container {
    height: 100%;
    width: 100%;
    z-index: 1;
    position: fixed;
}

#dropdown-content {
    display: none;
    background-color: #000000;
    width: 100%;
    height: 100%;
    z-index: 1;
    align-items: center;
}

#menu {
    display: block;
    margin-left: 10em;
    margin-top: -3em;
}

#dropdown-content a {
    display: block;
    padding: 0.5em;
    text-decoration: none;
    font-size: 3em;
    color: #fff;
    transition: opacity 0.5s ease;
    transition: font-size 0.5s ease;
}

#menu:hover > a{
    opacity: 0.3;
}

#menu:hover > a:hover {
    font-size: 3.5em;
    opacity: 1;
}

#latest {
    position: absolute;
    width: 100%;
    height: 100%;
}

#latest h1  {
    color: #000;
    text-align: center;
}

@keyframes show {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes hide {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes colormix {
    from {
        background-color: #0e0191;
    }
    to {
        background-color: #000000;
    }
}
@keyframes colormix-backwards {
    from {
        background-color: #000000;
    }
    to {
        background-color: #0e0191;
    }
}