@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

html {
    overflow: hidden;

    height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;

    height: 100%;
    margin: 0 auto;
}

#latest {
    position: absolute;

    width: 100%;
    height: 100%;
}

#latest h1  {
    text-align: center;

    color: #000;
}
