@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400&display=swap');
@import url('colors.css');

html {
    overflow: hidden;

    height: 100%;

    background-color: var(--background-color);
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 24px;

    height: 100%;
    margin: 0 auto;
}

#latest {
    position: absolute;

    width: 100%;
    height: 100%;
}

